body{
    background-color:rgb(133, 187, 169);
    z-index:100;
    
}

/* I put this here initially to layer an image over the background
    I eventually settled on accomplishing this with js*/
/*.terminator{
    position:absolute;
    height:800px;
    width:800px;
    z-index:-1;
    background-color:black;
    background-image: url(images/skynet.jpg);
} */

/* This is the grey box that holds the screen and buttons*/
.container {
    position:relative;
    margin: 0 auto;
    padding: 20px;
    width: 500px;
    height: 900px;
    background-color:rgb(121, 115, 115);
    border-radius:36px;
    padding-bottom:40px;
    border:20px;
    z-index:4;
}

.container .screen {
    position:relative;
    width: 450px;
    height: 300px;
    border: 5px solid rgb(0, 0, 0);
    margin: 20px auto;
    background-color:black;
    color:white;
   
}

.screen {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: grid;
    flex-direction:column;
    align-items: right;
    justify-content: right;
    flex-direction: row;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    position:absolute;
    z-index:3;  
}

.cyberdine {
    
    position:absolute;
    height: 300px;
    width:460px;
    background-image: url(images/skynet.gif);
    background-position:center;
    background-size:cover;
    align-content:center;
    z-index:2;
    margin-top:0%;
    margin-left:0%;
    visibility:hidden;
}
/* These are the output areas for the calculator print*/
.previous-operand{
    color:white;
    min-height: 48px;
    font-size: 32px;   
}

.current-operand{
    color:white;
    min-height:96px;
    font-size:64px;   
}

.buttons{
    height:45%;
    width:fit-content;
    color:white;
}
.container .buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    width:100%;
    margin-top: 75px;
}

.container .buttons button {
    
    width: 100px;
    height: 60px;
    background: rgb(95, 94, 94);
    border-radius:0;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.container .buttons button:hover{
    background:rgb(133, 131, 131)
}

.span-two {
    grid-column: span 2;
}

.container .buttons .span-two button:hover {
    background-color: rgb(243, 83, 83);
}

.container .buttons .span-two button{
    width:230px;
    background-color:red;
}

.footer{
   
    color: #fff;
    font-family:arial;
    text-align:center;
}